@import "tailwindcss";

:root {
  --text: #0f0f0f;
  --background: #ffffff;
  --primary: #b7d7f0;
  --secondary: #f1f2f3;
  --accent: #89a8b7;
}

@theme inline {
  --color-text: var(--text);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-foreground: var(--accent);
  --font-sans: var(--font-work-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f0f0f0;
    --background: #000000;
    --primary: #0f2f48;
    --secondary: #0c0d0e;
    --accent: #486675;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
